# Xcode
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/
*.dSYM
*.dSYM.zip
*.ipa
*.xcarchive*.xcbkptlist
